
		<script>
			/*
			 * Adapated from PS_Bramus.GoogleMapsTileCutter Config
			 * ----------------
			 */

				var repeatOnXAxis = true; // Do we need to repeat the image on the X-axis? Most likely you'll want to set this to -



			/*
			 * Helper function which normalizes the coords so that tiles can repeat across the X-axis (horizontally) like the standard Google map tiles.
			 * ----------------
			 */

				function getNormalizedCoord(coord, zoom) {
					if (!repeatOnXAxis) return coord;

					var y = coord.y;
					var x = coord.x;

					// tile range in one direction range is dependent on zoom level
					// 0 = 1 tile, 1 = 2 tiles, 2 = 4 tiles, 3 = 8 tiles, etc
					var tileRange = 1 << zoom;

					// don't repeat across Y-axis (vertically)
					if (y < 0 || y >= tileRange) {
						return null;
					}

					// repeat across X-axis
					if (x < 0 || x >= tileRange) {
						x = (x % tileRange + tileRange) % tileRange;
					}

                    
					return {
						x: x,
						y: y
					};

				}


                
                
				    function initialize() {

                    
                    
					// Define our custom map type
					var customMapType = new google.maps.ImageMapType({
						getTileUrl: function(coord, zoom) {
							var normalizedCoord = getNormalizedCoord(coord, zoom);
							if(normalizedCoord && (normalizedCoord.x < Math.pow(2, zoom)) && (normalizedCoord.x > -1) && (normalizedCoord.y < Math.pow(2, zoom)) && (normalizedCoord.y > -1)) {
								return "http://inkleby.github.io/world_tiles/{{feature.target.name}}/" + zoom + '_' + normalizedCoord.x + '_' + normalizedCoord.y + '.png';
							} else {
								return '/static/empty.png';
							}
						},
						tileSize: new google.maps.Size(256, 256),
						maxZoom: 6,
                        radius: {{feature.target.radius}} * 1000, //depends on planet
						name: '{{feature.target.name}}',
                        credit: 'Image Credit: NASA/JPL/ASU/MSSS'
					});
                    
                    
                    {% if feature.target.positive_west %}
                    POSITIVE_WEST = true
                        {% else %}
                    POSITIVE_WEST = false
                    {% endif %}
                    
                    x_offset = 128
                    y_offset = -64
                    
                    if (POSITIVE_WEST == true) {
                    x_offset = 0 - x_offset
                    }
                    
                    
                    customMapType.projection = {
                        fromLatLngToPoint: function(latLng) {
                          x = latLng.lng();
                          y = latLng.lat();
                          
                          y = 0 -(((y/90) * 64)  + y_offset)
                          x = (((x/180) * 128)  + x_offset)
                          
                          if (POSITIVE_WEST == true) {
                          x = 0 - x
                          }
                          
                          
                          return new google.maps.Point(x,y);
                        },
                        fromPointToLatLng: function(point, noWrap) {
                          var x = point.x
                          
                          if (POSITIVE_WEST == true) {
                            x = 0 - x
                            }
                          
                          x = (((x - x_offset)/128)*180);
                          
                          var y = 0 - (point.y)
                          y = (((y - y_offset)/64)*90);
                          //if (y > 90){
                          //y = 0 - (y - 90)
                          //}                          
                          
                          
                          return new google.maps.LatLng(
                              y,x,noWrap);
                        }
                      };
                    
                    
					// Basic options for our map
					var myOptions = {
                        center: new google.maps.LatLng({{feature.center_lat}}, {{feature.center_long}}),
						zoom: {{feature.target.default_zoom}},
						minZoom: 0,
                        maxZoom: {{feature.target.max_zoom}},
                        scrollWheelZoom:'center',
						streetViewControl: false,
						mapTypeControl: false,
						mapTypeControlOptions: {
							mapTypeIds: ["custom"]
						}
					};
                    

                    
                    
					// Init the map and hook our custom map type to it
					var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
					map.mapTypes.set('custom', customMapType);
					

                      // push the credit/copyright custom control
                    map.setMapTypeId('custom');
                    
                    
                    {% include "maps/markers.html" %}              
                        
				}
		</script>
