{% load extra_tags %}
 
 var hash = window.location.hash.substring(1);
 var next_feature = "{{feature.next_feature.ref}}";
 var progression_speed = 30000
 
if (hash == "auto") {
    if (next_feature != "") {
    window.setTimeout(function(){

        // Move to next location
        window.location.href = "/feature/"+ next_feature + "#auto";

    }, progression_speed);
    }
    hash = ""
    $(".auto-start").hide()
} else {
    $(".auto-stop").hide()
}
 
if (hash != "" ){
    o = hash.split(".")
    prev_id = o[0]
    offroad_id = o[1]
    offroad = true
} else {
    prev_id = 0
    offroad_id = "{{feature.ref}}"
    offroad = false
}

function fixUrl(url) {
    //given a url, sees if it should have the offroad position injected
    hash_parts = url.split("#")
    
    if (hash_parts.length < 2) {
        return url 
        } else {
        return url.replace(".0000","." + offroad_id)

        }
}

function cleanURL(url) {
    //given a url, sees if it has a hash and removes it
    hash_parts = url.split("#")
    
    if (hash_parts.length < 2) {
        return url 
        } else {
        return hash_parts[0]

        }
}

    $("a").attr("href", function(i, oldHref) {
      return fixUrl(oldHref);
    });

if (offroad == true) {
// hide tour related things and adjust hyperlinks

    
    $("nottour").show()
    
    //adds offroad id into placeholders
    $("a.tour_return").attr("href", function(i, oldHref) {
      return oldHref.replace("0000",offroad_id);
    });

    //makes links back to tour home remove offroad mode
    $("a#" + offroad_id).attr("href", function(i, oldHref) {
      return cleanURL(oldHref);
    });    
    
    $("a#" + offroad_id).after(" (tour)")
    
} else {

    $("tour").show()
    $("a.hastour").attr("href", function(i, oldHref) {
      return cleanURL(oldHref);
    });
    }


{% with feature.true_compass as tp %}

coord_lookup = {
                {% for f in tp %}
                "{{f.ref}}":{lat: {{f.center_lat}}, lng: {{f.center_long}}},
                {% endfor %}
                }



 
 //add marker
     var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{feature.center_lat}}, {{feature.center_long}}),
      map: map,
      icon: 'http://maps.google.com/mapfiles/ms/icons/green.png',
      title: '{{feature.name}}'
  });


     
  //add nearest markers
  {% for n in tp %}
  
  
      dest_id = "{{n.ref}}"
      dest_tour = "{{n.tour}}"
      if (offroad == true ) { //include the hash links if we're going off tour
        if (dest_id == offroad_id) {
            url = '{{n.url}}'
      } else {
            url = '{{n.url}}#{{feature.ref}}.' + offroad_id
            }
      } else {
        if (dest_tour != "None") {
            url = '{{n.url}}'
      } else {
            url = '{{n.url}}#{{feature.ref}}.' + offroad_id
            }        
      }

       var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{n.center_lat}}, {{n.center_long}}),
      map: map,
      url: url,
      icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
      title: '{{n.name}} ({{n.diff|intdistance}})'
  });
  marker.addListener('click', function() {
    window.location.href = this.url;
  });  
  {% endfor %}

  
  
  
  var lineSymbol = {
    path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
    strokeOpacity: 1,
  };

  
       var NextCoords = [
        {% for p in feature.next_line_points %}
        {lat: {{p.center_lat}}, lng: {{p.center_long}}},
        {% endfor %}
      ];
  
  if (offroad == false ) {
      var Coords = [
        {% for p in feature.last_line_points %}
        {lat: {{p.center_lat}}, lng: {{p.center_long}}},
        {% endfor %}
      ];
  } else {

      var Coords = [
        coord_lookup[prev_id],
        {lat: {{feature.center_lat}}, lng: {{feature.center_long}}},
      ];  
  
  }

  var lastLine = new google.maps.Polyline({
    path: Coords,
    geodesic: true,
    strokeColor: '{{feature.target.line_colour}}',
    strokeOpacity: 0.5,
    strokeWeight: 3,
    icons: [{
      icon: lineSymbol,
      offset: '20%',
      repeat: '30px'
    }],
  });
  lastLine.setMap(map);
  
  
  
  if (offroad == false ) {  
  // also do next line
      var nextLine = new google.maps.Polyline({
        path: NextCoords,
        geodesic: true,
        strokeColor: '#000000',
        strokeOpacity: 0,
        strokeWeight: 3,
        icons: [{
          icon: lineSymbol,
          offset: '20%',
          repeat: '30px'
        }],
      });
      nextLine.setMap(map);
    }  

{% endwith %}
  