<script>

    var mapTypes = {};
 
    var default_map = "";

    function getHorizontallyRepeatingTileUrl(coord, zoom, urlfunc) {
      var y = coord.y;
      var x = coord.x;
 
      // tile range in one direction range is dependent on zoom level
      // 0 = 1 tile, 1 = 2 tiles, 2 = 4 tiles, 3 = 8 tiles, etc
      var tileRange = 1 << zoom;
 
      // don't repeat across y-axis (vertically)
      if (y < 0 || y >= tileRange) {
        return null;
      }
 
      // repeat across x-axis
      if (x < 0 || x >= tileRange) {
        x = (x % tileRange + tileRange) % tileRange;
      }
 
      return urlfunc({x:x,y:y}, zoom)
    }
    
    // set up the map types
  
    

    function getVenus(a,b)

    {

        if ( b == 1 && a.x >= 0 && a.x <= 1 && a.y >= 0 && a.y <= 1 )

        {

            return "http://planetologia.elte.hu/globes/venus_radar/tiles//Z" + b + "/" + a.y + "_" + a.x + ".png"; // replace that with a "real" URL

        }

        else if ( b == 2 && a.x >= 0 && a.x <= 3 && a.y >= 0 && a.y <= 3 )

        {

            return "http://planetologia.elte.hu/globes/venus_radar/tiles//Z" + b + "/" + a.y + "_" + a.x + ".png"; // replace that with a "real" URL

        }

        else if ( b == 3 && a.x >= 0 && a.x <= 7 && a.y >= 0 && a.y <= 7 )

        {

            return "http://planetologia.elte.hu/globes/venus_radar/tiles//Z" + b + "/" + a.y + "_" + a.x + ".png"; // replace that with a "real" URL

        }

        else if ( b == 4 && a.x >= 0 && a.x <= 15 && a.y >= 1 && a.y <= 14 )

        {

            return "http://planetologia.elte.hu/globes/venus_radar/tiles//Z" + b + "/" + a.y + "_" + a.x + ".png"; // replace that with a "real" URL

        }

        else if ( b == 5 && a.x >= 0 && a.x <= 31 && a.y >= 3 && a.y <= 28 )

        {

            return "http://planetologia.elte.hu/globes/venus_radar/tiles//Z" + b + "/" + a.y + "_" + a.x + ".png"; // replace that with a "real" URL

        }

        else if ( b == 6 && a.x >= 0 && a.x <= 63 && a.y >= 7 && a.y <= 56 )

        {

            return "http://planetologia.elte.hu/globes/venus_radar/tiles//Z" + b + "/" + a.y + "_" + a.x + ".png"; // replace that with a "real" URL

        }

        return G_PHYSICAL_MAP.getTileLayers()[0].getTileUrl(a,b);

    }
    
    
     mapTypes['venus_radar'] = {
      getTileUrl: function(coord, zoom) {
        return getHorizontallyRepeatingTileUrl(coord, zoom, function(coord, zoom) {
          return getVenus(coord, zoom);
        });
      },
      tileSize: new google.maps.Size(256, 256),
      isPng: false,
      maxZoom: 9,
      radius: 6052000,
      name: 'Radar',
      credit: 'http://planetologia.elte.hu/globes/index2.html'
    };  
    
    default_map = "venus_radar";
 
    // Normalizes the tile URL so that tiles repeat across the x axis (horizontally) like the
    // standard Google map tiles.

 
 
    var map;
    var mapTypeIds = [];
 
    // Setup a copyright/credit line, emulating the standard Google style
    var creditNode = document.createElement('div');
    creditNode.id = 'credit-control';
    creditNode.style.fontSize = '11px';
    creditNode.style.fontFamily = 'Arial, sans-serif';
    creditNode.style.margin = '0 2px 2px 0';
    creditNode.style.whitespace = 'nowrap';
    creditNode.index = 0;
 
    function setCredit(credit) {
      creditNode.innerHTML = credit + ' -';
    }
 
    function initialize() {
 
      // push all mapType keys in to a mapTypeId array to set in the mapTypeControlOptions
      for (var key in mapTypes) {
        mapTypeIds.push(key);
      }
 
      var mapOptions = {
        zoom: 4,
        center: new google.maps.LatLng({{feature.center_lat}}, {{feature.center_long}}),
        mapTypeControlOptions: {
          mapTypeIds: mapTypeIds,
          style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        }
      };
      map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
 
      // push the credit/copyright custom control
      map.controls[google.maps.ControlPosition.BOTTOM_RIGHT].push(creditNode);
 
      // add the new map types to map.mapTypes
      for (key in mapTypes) {
        map.mapTypes.set(key, new google.maps.ImageMapType(mapTypes[key]));
      }
 
      // handle maptypeid_changed event to set the credit line
      google.maps.event.addListener(map, 'maptypeid_changed', function() {
        setCredit(mapTypes[map.getMapTypeId()].credit);
      });
 
      // start with the moon map type

        map.setMapTypeId(default_map);

      
    {% include "maps/markers.html" %}
  
    }
    
    
</script>