{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load extra_tags %}
{% load humanize %}
{% block head %}
<title>About - {{site_name}}</title>
{% endblock %}

{% block facebook %}
<meta property="og:title" content="Privacy Policy" />
<meta property="og:site_name" content="{{site_name}}"/>
<meta property="og:description" content="Privacy Policy" />
<meta property="og:url" content="{{current_path}}" />
<meta property="og:image" content="{{share_image}}" />
{% endblock %}


{% block content %}


<div class = "container">
    
    {{markdown}}

    
</div>

{% endblock %}
