    <nav class=" navbar navbar-inverse navbar-fixed-top navbar-font" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-font navbar-brand " href="/" style="color:#FFF">{{site_name}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    {% for m in main_menu %}
                    <li>
                        <a href="{{m.1}}"style="color:#FFF" >{{m.0}}</a>
                    </li>
                    {% endfor %}
                    <li>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
		
   <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->		

    </nav>


